# tp_3_Machine_Learning

## import the data

In [73]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame
from sklearn.grid_search import GridSearchCV
from sklearn import cross_validation, metrics

import matplotlib.pylab as plt
%matplotlib inline

C:\Program Files\Anaconda3\lib\site-packages\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [20]:
# read csv file

df_train = pd.read_csv("train.csv", sep=";")
df_train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5,32,services,single,university.degree,no,no,no,cellular,sep,thu,...,3,999,2,failure,-1.1,94.199,-37.5,0.884,4963.6,no
6,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,...,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
7,41,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
8,31,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8,no
9,35,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
10,25,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
11,36,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
12,36,admin.,married,high.school,no,no,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
13,47,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no
14,29,admin.,single,high.school,no,no,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
15,27,services,single,university.degree,no,no,no,cellular,jul,wed,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
16,44,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,...,6,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
17,46,admin.,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18,45,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
19,50,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes
20,55,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,6,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
21,39,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,1,12,2,success,-1.8,93.369,-34.8,0.639,5008.7,yes
22,29,technician,single,university.degree,no,yes,yes,cellular,aug,wed,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
23,40,management,married,high.school,no,no,yes,cellular,aug,wed,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
24,44,technician,married,professional.course,unknown,yes,no,telephone,may,fri,...,7,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no
25,38,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,yes
26,36,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
27,28,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1,no
28,47,admin.,single,unknown,unknown,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
29,34,admin.,married,university.degree,no,no,no,cellular,aug,tue,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969,48,services,divorced,high.school,unknown,yes,yes,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0,no
2970,50,management,married,university.degree,no,yes,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2971,40,blue-collar,married,basic.6y,unknown,yes,no,telephone,may,tue,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2972,31,admin.,married,university.degree,no,no,yes,cellular,jul,mon,...,11,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
2973,39,blue-collar,married,basic.6y,no,no,no,telephone,may,wed,...,12,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
2974,38,admin.,married,high.school,no,yes,no,cellular,nov,tue,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,no
2975,58,admin.,divorced,high.school,no,no,no,telephone,oct,thu,...,1,999,0,nonexistent,-0.1,93.798,-40.4,4.794,5195.8,no
2976,37,technician,married,professional.course,no,no,yes,cellular,jul,fri,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,yes
2977,34,services,married,high.school,no,no,no,telephone,jun,tue,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
2978,35,technician,married,high.school,unknown,yes,no,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,yes
2979,39,entrepreneur,married,university.degree,no,yes,no,cellular,nov,thu,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
2980,78,retired,married,basic.9y,no,yes,no,telephone,oct,thu,...,1,999,0,nonexistent,-3.4,92.431,-26.9,0.754,5017.5,no
2981,43,blue-collar,single,high.school,no,no,yes,telephone,may,thu,...,1,999,0,nonexistent,-1.8,93.876,-40.0,0.699,5008.7,no
2982,49,technician,divorced,university.degree,no,yes,no,telephone,nov,thu,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
2983,32,technician,married,professional.course,no,no,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0,no
2984,58,entrepreneur,married,university.degree,unknown,no,no,telephone,jun,fri,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
2985,42,admin.,married,university.degree,no,yes,no,cellular,aug,wed,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
2986,32,blue-collar,married,professional.course,no,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,yes
2987,31,technician,married,professional.course,no,yes,no,cellular,jul,wed,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
2988,45,services,married,professional.course,no,yes,no,cellular,jul,mon,...,23,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
2989,43,blue-collar,married,basic.9y,unknown,yes,no,cellular,may,fri,...,3,999,1,failure,-1.8,92.893,-46.2,1.313,5099.1,no
2990,53,blue-collar,married,basic.4y,no,no,no,cellular,aug,tue,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1,no
2991,42,admin.,married,high.school,no,yes,yes,telephone,jul,mon,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
2992,40,technician,married,professional.course,no,no,no,telephone,jun,fri,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
2993,41,management,married,university.degree,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.962,5228.1,no
2994,47,blue-collar,single,basic.9y,unknown,no,no,cellular,may,wed,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,no
2995,53,admin.,married,university.degree,no,no,yes,telephone,may,tue,...,13,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
2996,60,retired,married,university.degree,no,yes,no,cellular,oct,mon,...,2,999,0,nonexistent,-1.1,94.601,-49.5,1.000,4963.6,no
2997,32,technician,single,university.degree,no,no,no,cellular,nov,thu,...,1,999,1,failure,-0.1,93.200,-42.0,4.076,5195.8,no
2998,67,retired,married,basic.4y,no,no,no,cellular,aug,mon,...,3,999,0,nonexistent,-1.7,94.027,-38.3,0.898,4991.6,no

In [21]:
# df_train.info()
# df_train.describe()

In [22]:
df_train['mariage'] = df_train['marital'].map({
    'married': 1, 'single': 2, 'divorced': 3, 'unknown': 0
}).astype(int)

df_train['work'] = df_train['job'].map({
    'blue-collar': 1, 'services': 2, 'admin.': 3, 'entrepreneur': 4,
    'self-employed': 5, 'technician': 6, 'management': 7, 'student': 8, 
    'retired': 9, 'housemaid': 10, 'unemployed': 11, 'unknown': 0
}).astype(int)

df_train['edu'] = df_train['education'].map({
    'basic.9y': 1, 'high.school': 2, 'university.degree': 3,
    'professional.course': 4, 'basic.6y': 5, 'basic.4y': 6, 
    'illiterate': 7,
    'unknown': 0
}).astype(int)

df_train['def'] = df_train['default'].map({
    'no': 1, 'yes': 2,
    'unknown': 0
}).astype(int)

df_train['house'] = df_train['housing'].map({
    'yes': 1, 'no': 2, 'unknown': 0
}).astype(int)

df_train['ploan'] = df_train['loan'].map({
    'yes': 1, 'no': 2, 'unknown': 0
}).astype(int)

df_train['outcome'] = df_train['poutcome'].map({
    'nonexistent': 2, 'failure': 0, 'success': 1
}).astype(int)

df_train['agreed'] = df_train['y'].map({
    'yes': 1, 'no': 0
}).astype(int)

In [23]:
df_train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,nr.employed,y,mariage,work,edu,def,house,ploan,outcome,agreed
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,5099.1,no,1,1,1,1,1,2,2,0
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,5191.0,no,2,2,2,1,2,2,2,0
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,5228.1,no,1,2,2,1,1,2,2,0
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,5228.1,no,1,2,1,1,0,0,2,0
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,5195.8,no,1,3,3,1,1,2,2,0
5,32,services,single,university.degree,no,no,no,cellular,sep,thu,...,4963.6,no,2,2,3,1,2,2,0,0
6,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,...,4963.6,no,2,3,3,1,1,2,2,0
7,41,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,5195.8,no,1,4,3,0,1,2,2,0
8,31,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,5195.8,no,3,2,4,1,2,2,0,0
9,35,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,5191.0,no,1,1,1,0,2,2,2,0
10,25,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,5228.1,no,2,2,5,0,1,2,2,0
11,36,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,5228.1,no,2,5,6,1,2,2,2,0
12,36,admin.,married,high.school,no,no,no,telephone,may,wed,...,5191.0,no,1,3,2,1,2,2,2,0
13,47,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,5228.1,no,1,1,6,1,1,2,2,0
14,29,admin.,single,high.school,no,no,no,cellular,may,fri,...,5099.1,no,2,3,2,1,2,2,2,0
15,27,services,single,university.degree,no,no,no,cellular,jul,wed,...,5228.1,no,2,2,3,1,2,2,2,0
16,44,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,...,5228.1,no,3,3,3,1,2,2,2,0
17,46,admin.,divorced,university.degree,no,yes,no,telephone,jul,mon,...,5228.1,no,3,3,3,1,1,2,2,0
18,45,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,5228.1,no,1,4,3,0,1,1,2,0
19,50,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,5228.1,yes,1,1,6,1,2,1,2,1
20,55,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,...,5228.1,no,1,2,5,0,1,2,2,0
21,39,technician,divorced,high.school,no,no,no,cellular,mar,mon,...,5008.7,yes,3,6,2,1,2,2,1,1
22,29,technician,single,university.degree,no,yes,yes,cellular,aug,wed,...,5228.1,no,2,6,3,1,1,1,2,0
23,40,management,married,high.school,no,no,yes,cellular,aug,wed,...,5228.1,no,1,7,2,1,2,1,2,0
24,44,technician,married,professional.course,unknown,yes,no,telephone,may,fri,...,5191.0,no,1,6,4,0,1,2,2,0
25,38,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,5228.1,yes,1,6,4,1,1,2,2,1
26,36,technician,divorced,professional.course,no,no,no,telephone,may,wed,...,5191.0,no,3,6,4,1,2,2,2,0
27,28,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,...,5099.1,no,1,1,5,0,2,2,0,0
28,47,admin.,single,unknown,unknown,no,no,telephone,may,thu,...,5191.0,no,2,3,0,0,2,2,2,0
29,34,admin.,married,university.degree,no,no,no,cellular,aug,tue,...,5228.1,no,1,3,3,1,2,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969,48,services,divorced,high.school,unknown,yes,yes,telephone,may,mon,...,5191.0,no,3,2,2,0,1,1,2,0
2970,50,management,married,university.degree,no,yes,no,telephone,may,wed,...,5191.0,no,1,7,3,1,1,2,2,0
2971,40,blue-collar,married,basic.6y,unknown,yes,no,telephone,may,tue,...,5191.0,no,1,1,5,0,1,2,2,0
2972,31,admin.,married,university.degree,no,no,yes,cellular,jul,mon,...,5228.1,no,1,3,3,1,2,1,2,0
2973,39,blue-collar,married,basic.6y,no,no,no,telephone,may,wed,...,5191.0,no,1,1,5,1,2,2,2,0
2974,38,admin.,married,high.school,no,yes,no,cellular,nov,tue,...,5195.8,no,1,3,2,1,1,2,2,0
2975,58,admin.,divorced,high.school,no,no,no,telephone,oct,thu,...,5195.8,no,3,3,2,1,2,2,2,0
2976,37,technician,married,professional.course,no,no,yes,cellular,jul,fri,...,5228.1,yes,1,6,4,1,2,1,2,1
2977,34,services,married,high.school,no,no,no,telephone,jun,tue,...,5228.1,no,1,2,2,1,2,2,2,0
2978,35,technician,married,high.school,unknown,yes,no,cellular,jul,tue,...,5228.1,yes,1,6,2,0,1,2,2,1
2979,39,entrepreneur,married,university.degree,no,yes,no,cellular,nov,thu,...,5195.8,no,1,4,3,1,1,2,2,0
2980,78,retired,married,basic.9y,no,yes,no,telephone,oct,thu,...,5017.5,no,1,9,1,1,1,2,2,0
2981,43,blue-collar,single,high.school,no,no,yes,telephone,may,thu,...,5008.7,no,2,1,2,1,2,1,2,0
2982,49,technician,divorced,university.degree,no,yes,no,telephone,nov,thu,...,5195.8,no,3,6,3,1,1,2,2,0
2983,32,technician,married,professional.course,no,no,no,telephone,may,wed,...,5191.0,no,1,6,4,1,2,2,2,0
2984,58,entrepreneur,married,university.degree,unknown,no,no,telephone,jun,fri,...,5228.1,no,1,4,3,0,2,2,2,0
2985,42,admin.,married,university.degree,no,yes,no,cellular,aug,wed,...,5228.1,no,1,3,3,1,1,2,2,0
2986,32,blue-collar,married,professional.course,no,no,no,telephone,may,thu,...,5191.0,yes,1,1,4,1,2,2,2,1
2987,31,technician,married,professional.course,no,yes,no,cellular,jul,wed,...,5228.1,no,1,6,4,1,1,2,2,0
2988,45,services,married,professional.course,no,yes,no,cellular,jul,mon,...,5228.1,no,1,2,4,1,1,2,2,0
2989,43,blue-collar,married,basic.9y,unknown,yes,no,cellular,may,fri,...,5099.1,no,1,1,1,0,1,2,0,0
2990,53,blue-collar,married,basic.4y,no,no,no,cellular,aug,tue,...,5228.1,no,1,1,6,1,2,2,2,0
2991,42,admin.,married,high.school,no,yes,yes,telephone,jul,mon,...,5228.1,no,1,3,2,1,1,1,2,0
2992,40,technician,married,professional.course,no,no,no,telephone,jun,fri,...,5228.1,no,1,6,4,1,2,2,2,0
2993,41,management,married,university.degree,unknown,yes,no,cellular,aug,thu,...,5228.1,no,1,7,3,0,1,2,2,0
2994,47,blue-collar,single,basic.9y,unknown,no,no,cellular,may,wed,...,5099.1,no,2,1,1,0,2,2,2,0
2995,53,admin.,married,university.degree,no,no,yes,telephone,may,tue,...,5191.0,no,1,3,3,1,2,1,2,0
2996,60,retired,married,university.degree,no,yes,no,cellular,oct,mon,...,4963.6,no,1,9,3,1,1,2,2,0
2997,32,technician,single,university.degree,no,no,no,cellular,nov,thu,...,5195.8,no,2,6,3,1,2,2,0,0
2998,67,retired,married,basic.4y,no,no,no,cellular,aug,mon,...,4991.6,no,1,9,6,1,2,2,2,0

In [24]:
# data_train
df_train.drop(['job', 'marital', 'education', 'default', 'housing', 'loan', 'poutcome', 'y',
                 'contact', 'month', 'day_of_week'], axis=1, inplace=True)

In [25]:
cols = df_train.columns.tolist()
print(cols)

['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'mariage', 'work', 'edu', 'def', 'house', 'ploan', 'outcome', 'agreed']

In [26]:
cols = [cols[17]] + cols[:17]
#data_train = data_train[cols]

In [27]:
df_train = df_train[cols]

In [28]:
df_train

,agreed,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,mariage,work,edu,def,house,ploan,outcome
0,0,30,487,2,999,0,-1.8,92.893,-46.2,1.313,5099.1,1,1,1,1,1,2,2
1,0,39,346,4,999,0,1.1,93.994,-36.4,4.855,5191.0,2,2,2,1,2,2,2
2,0,25,227,1,999,0,1.4,94.465,-41.8,4.962,5228.1,1,2,2,1,1,2,2
3,0,38,17,3,999,0,1.4,94.465,-41.8,4.959,5228.1,1,2,1,1,0,0,2
4,0,47,58,1,999,0,-0.1,93.200,-42.0,4.191,5195.8,1,3,3,1,1,2,2
5,0,32,128,3,999,2,-1.1,94.199,-37.5,0.884,4963.6,2,2,3,1,2,2,0
6,0,32,290,4,999,0,-1.1,94.199,-37.5,0.879,4963.6,2,3,3,1,1,2,2
7,0,41,44,2,999,0,-0.1,93.200,-42.0,4.191,5195.8,1,4,3,0,1,2,2
8,0,31,68,1,999,1,-0.1,93.200,-42.0,4.153,5195.8,3,2,4,1,2,2,0
9,0,35,170,1,999,0,1.1,93.994,-36.4,4.855,5191.0,1,1,1,0,2,2,2
10,0,25,301,1,999,0,1.4,93.918,-42.7,4.958,5228.1,2,2,5,0,1,2,2
11,0,36,148,1,999,0,1.4,93.918,-42.7,4.968,5228.1,2,5,6,1,2,2,2
12,0,36,97,2,999,0,1.1,93.994,-36.4,4.859,5191.0,1,3,2,1,2,2,2
13,0,47,211,2,999,0,1.4,94.465,-41.8,4.958,5228.1,1,1,6,1,1,2,2
14,0,29,553,2,999,0,-1.8,92.893,-46.2,1.313,5099.1,2,3,2,1,2,2,2
15,0,27,698,2,999,0,1.4,93.918,-42.7,4.963,5228.1,2,2,3,1,2,2,2
16,0,44,191,6,999,0,1.4,93.918,-42.7,4.957,5228.1,3,3,3,1,2,2,2
17,0,46,59,4,999,0,1.4,93.918,-42.7,4.962,5228.1,3,3,3,1,1,2,2
18,0,45,38,2,999,0,1.4,93.444,-36.1,4.965,5228.1,1,4,3,0,1,1,2
19,1,50,849,1,999,0,1.4,93.918,-42.7,4.961,5228.1,1,1,6,1,2,1,2
20,0,55,326,6,999,0,1.4,93.918,-42.7,4.962,5228.1,1,2,5,0,1,2,2
21,1,39,222,1,12,2,-1.8,93.369,-34.8,0.639,5008.7,3,6,2,1,2,2,1
22,0,29,626,3,999,0,1.4,93.444,-36.1,4.967,5228.1,2,6,3,1,1,1,2
23,0,40,119,1,999,0,1.4,93.444,-36.1,4.965,5228.1,1,7,2,1,2,1,2
24,0,44,388,7,999,0,1.1,93.994,-36.4,4.864,5191.0,1,6,4,0,1,2,2
25,1,38,479,1,999,0,1.4,93.444,-36.1,4.965,5228.1,1,6,4,1,1,2,2
26,0,36,446,1,999,0,1.1,93.994,-36.4,4.856,5191.0,3,6,4,1,2,2,2
27,0,28,68,2,999,1,-1.8,92.893,-46.2,1.299,5099.1,1,1,5,0,2,2,0
28,0,47,127,1,999,0,1.1,93.994,-36.4,4.860,5191.0,2,3,0,0,2,2,2
29,0,34,109,1,999,0,1.4,93.444,-36.1,4.963,5228.1,1,3,3,1,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969,0,48,158,2,999,0,1.1,93.994,-36.4,4.858,5191.0,3,2,2,0,1,1,2
2970,0,50,117,2,999,0,1.1,93.994,-36.4,4.857,5191.0,1,7,3,1,1,2,2
2971,0,40,211,1,999,0,1.1,93.994,-36.4,4.857,5191.0,1,1,5,0,1,2,2
2972,0,31,15,11,999,0,1.4,93.918,-42.7,4.960,5228.1,1,3,3,1,2,1,2
2973,0,39,488,12,999,0,1.1,93.994,-36.4,4.859,5191.0,1,1,5,1,2,2,2
2974,0,38,67,2,999,0,-0.1,93.200,-42.0,4.153,5195.8,1,3,2,1,1,2,2
2975,0,58,81,1,999,0,-0.1,93.798,-40.4,4.794,5195.8,3,3,2,1,2,2,2
2976,1,37,674,3,999,0,1.4,93.918,-42.7,4.957,5228.1,1,6,4,1,2,1,2
2977,0,34,51,2,999,0,1.4,94.465,-41.8,4.864,5228.1,1,2,2,1,2,2,2
2978,1,35,740,1,999,0,1.4,93.918,-42.7,4.962,5228.1,1,6,2,0,1,2,2
2979,0,39,260,1,999,0,-0.1,93.200,-42.0,4.076,5195.8,1,4,3,1,1,2,2
2980,0,78,321,1,999,0,-3.4,92.431,-26.9,0.754,5017.5,1,9,1,1,1,2,2
2981,0,43,137,1,999,0,-1.8,93.876,-40.0,0.699,5008.7,2,1,2,1,2,1,2
2982,0,49,30,1,999,0,-0.1,93.200,-42.0,4.076,5195.8,3,6,3,1,1,2,2
2983,0,32,293,2,999,0,1.1,93.994,-36.4,4.858,5191.0,1,6,4,1,2,2,2
2984,0,58,218,1,999,0,1.4,94.465,-41.8,4.959,5228.1,1,4,3,0,2,2,2
2985,0,42,127,1,999,0,1.4,93.444,-36.1,4.967,5228.1,1,3,3,1,1,2,2
2986,1,32,1119,1,999,0,1.1,93.994,-36.4,4.855,5191.0,1,1,4,1,2,2,2
2987,0,31,225,2,999,0,1.4,93.918,-42.7,4.962,5228.1,1,6,4,1,1,2,2
2988,0,45,19,23,999,0,1.4,93.918,-42.7,4.962,5228.1,1,2,4,1,1,2,2
2989,0,43,288,3,999,1,-1.8,92.893,-46.2,1.313,5099.1,1,1,1,0,1,2,0
2990,0,53,76,1,999,0,1.4,93.444,-36.1,4.968,5228.1,1,1,6,1,2,2,2
2991,0,42,388,1,999,0,1.4,93.918,-42.7,4.962,5228.1,1,3,2,1,1,1,2
2992,0,40,179,2,999,0,1.4,94.465,-41.8,4.959,5228.1,1,6,4,1,2,2,2
2993,0,41,172,1,999,0,1.4,93.444,-36.1,4.962,5228.1,1,7,3,0,1,2,2
2994,0,47,159,1,999,0,-1.8,92.893,-46.2,1.334,5099.1,2,1,1,0,2,2,2
2995,0,53,37,13,999,0,1.1,93.994,-36.4,4.856,5191.0,1,3,3,1,2,1,2
2996,0,60,338,2,999,0,-1.1,94.601,-49.5,1.000,4963.6,1,9,3,1,1,2,2
2997,0,32,485,1,999,1,-0.1,93.200,-42.0,4.076,5195.8,2,6,3,1,2,2,0
2998,0,67,300,3,999,0,-1.7,94.027,-38.3,0.898,4991.6,1,9,6,1,2,2,2

In [29]:
#df_train.info()

##### last contact duration /s

In [30]:
# df_train['duration']

In [31]:
train_data = df_train.values

##### training the model

In [32]:
from sklearn.ensemble import RandomForestClassifier

In [63]:
model = RandomForestClassifier(n_estimators = 100, oob_score=True, random_state=10)

In [65]:
model = model.fit(train_data[0:, 1:], train_data[0:, 0])

##### load test data

In [36]:
df_test = pd.read_csv('test.csv', sep=";", header=None)

In [37]:
# df_test.describe
df_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,49,management,divorced,university.degree,no,no,no,cellular,jul,thu,144,5,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
1,31,admin.,unknown,high.school,no,no,no,telephone,may,mon,182,8,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0
2,31,admin.,single,basic.9y,no,no,no,telephone,may,wed,80,1,999,1,failure,-1.8,92.893,-46.2,1.281,5099.1
3,60,admin.,married,high.school,no,yes,yes,cellular,apr,thu,482,2,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1
4,33,blue-collar,married,high.school,no,no,no,cellular,apr,mon,87,2,999,2,failure,-1.8,93.075,-47.1,1.405,5099.1
5,41,self-employed,married,university.degree,no,yes,no,telephone,may,mon,796,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
6,45,services,married,professional.course,no,yes,no,telephone,may,mon,221,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
7,29,services,divorced,high.school,no,no,yes,telephone,may,mon,251,11,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
8,39,unemployed,married,university.degree,no,no,no,telephone,jun,tue,132,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
9,35,admin.,married,high.school,unknown,yes,yes,telephone,may,tue,236,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
10,33,technician,single,university.degree,no,yes,no,cellular,apr,thu,106,2,999,0,nonexistent,-1.8,93.075,-47.1,1.435,5099.1
11,27,unemployed,single,university.degree,no,no,no,telephone,jul,tue,27,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
12,32,blue-collar,married,basic.9y,unknown,no,no,cellular,jul,thu,240,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
13,45,blue-collar,married,basic.9y,unknown,no,no,telephone,jun,thu,10,16,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
14,36,blue-collar,married,basic.9y,unknown,yes,no,telephone,may,thu,140,3,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
15,41,services,single,unknown,no,yes,no,cellular,may,thu,206,3,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1
16,40,blue-collar,married,unknown,no,no,no,telephone,may,tue,337,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
17,42,management,married,university.degree,no,no,no,cellular,nov,mon,44,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
18,31,admin.,single,university.degree,no,yes,no,cellular,aug,wed,138,2,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
19,32,blue-collar,divorced,basic.9y,no,no,no,telephone,may,mon,287,1,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0
20,32,technician,married,professional.course,no,no,no,cellular,aug,wed,67,4,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
21,27,blue-collar,married,high.school,no,no,no,cellular,may,thu,136,5,999,1,failure,-1.8,92.893,-46.2,1.266,5099.1
22,35,blue-collar,married,basic.4y,no,no,no,telephone,jun,thu,636,1,999,0,nonexistent,1.4,94.465,-41.8,4.866,5228.1
23,41,admin.,married,university.degree,no,yes,yes,telephone,may,mon,77,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
24,45,admin.,married,university.degree,no,no,yes,cellular,jul,thu,468,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
25,45,admin.,married,university.degree,no,no,no,cellular,jul,tue,114,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
26,44,admin.,married,high.school,unknown,no,no,cellular,aug,fri,262,4,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
27,51,technician,married,professional.course,no,no,no,cellular,aug,wed,221,9,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1
28,50,unemployed,married,professional.course,no,no,no,cellular,jul,thu,74,3,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
29,41,blue-collar,married,basic.4y,no,no,no,cellular,nov,thu,604,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,25,admin.,single,university.degree,no,yes,yes,cellular,oct,fri,115,1,999,1,failure,-3.4,92.431,-26.9,0.739,5017.5
1091,43,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,593,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1092,38,management,married,high.school,unknown,no,no,telephone,may,thu,879,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
1093,30,blue-collar,single,high.school,no,no,no,telephone,jul,wed,71,1,999,0,nonexistent,1.4,93.918,-42.7,4.956,5228.1
1094,56,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,580,3,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
1095,62,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,152,1,6,1,success,-3.4,92.649,-30.1,0.719,5017.5
1096,36,admin.,single,university.degree,no,no,yes,cellular,aug,fri,69,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
1097,33,services,married,high.school,no,no,no,telephone,may,mon,146,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1098,41,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,102,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
1099,34,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,159,3,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
1100,58,admin.,divorced,high.school,no,no,no,cellular,aug,tue,290,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
1101,41,admin.,divorced,high.school,no,no,no,cellular,apr,fri,620,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
1102,35,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,88,5,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
1103,31,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,70,2,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
1104,43,services,married,high.school,no,no,no,telephone,may,mon,77,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1105,42,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,408,1,999,0,nonexistent,1.4,93.444,-36.1,4.970,5228.1
1106,47,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,159,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
1107,45,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,29,3,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1
1108,36,admin.,married,university.degree,unknown,yes,no,cellular,aug,wed,155,11,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
1109,32,admin.,married,university.degree,no,yes,no,telephone,may,thu,151,5,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
1110,63,retired,married,high.school,no,no,no,cellular,oct,wed,1386,1,999,0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5
1111,53,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,85,2,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
1112,30,technician,married,university.degree,no,no,yes,cellular,jun,fri,131,1,999,1,failure,-1.7,94.055,-39.8,0.748,4991.6
1113,31,technician,single,professional.course,no,yes,no,cellular,nov,thu,155,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
1114,31,admin.,single,university.degree,no,yes,no,cellular,nov,thu,463,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
1115,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,53,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
1116,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,219,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1
1117,27,student,single,high.school,no,no,no,cellular,may,mon,64,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1
1118,58,admin.,married,high.school,no,no,no,cellular,aug,fri,528,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
1119,34,management,single,high.school,no,yes,no,cellular,nov,wed,175,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8

In [38]:
# df_test[4].unique()

In [39]:
df_test['mariage'] = df_test[2].map({
    'married': 1, 'single': 2, 'divorced': 3, 'unknown': 0
}).astype(int)

df_test['work'] = df_test[1].map({
    'blue-collar': 1, 'services': 2, 'admin.': 3, 'entrepreneur': 4,
    'self-employed': 5, 'technician': 6, 'management': 7, 'student': 8, 
    'retired': 9, 'housemaid': 10, 'unemployed': 11, 'unknown': 0
}).astype(int)

df_test['edu'] = df_test[3].map({
    'basic.9y': 1, 'high.school': 2, 'university.degree': 3,
    'professional.course': 4, 'basic.6y': 5, 'basic.4y': 6, 
    'illiterate': 7,
    'unknown': 0
}).astype(int)

df_test['def'] = df_test[4].map({
    'no': 1, 'yes': 2, 'unknown': 0
}).astype(int)

df_test['house'] = df_test[5].map({
    'yes': 1, 'no': 2, 'unknown': 0
}).astype(int)

df_test['ploan'] = df_test[6].map({
    'yes': 1, 'no': 2, 'unknown': 0
}).astype(int)

df_test['outcome'] = df_test[14].map({
    'nonexistent': 2, 'failure': 0, 'success': 1
}).astype(int)

In [40]:
df_test

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,mariage,work,edu,def,house,ploan,outcome
0,49,management,divorced,university.degree,no,no,no,cellular,jul,thu,...,-42.7,4.963,5228.1,3,7,3,1,2,2,2
1,31,admin.,unknown,high.school,no,no,no,telephone,may,mon,...,-36.4,4.858,5191.0,0,3,2,1,2,2,2
2,31,admin.,single,basic.9y,no,no,no,telephone,may,wed,...,-46.2,1.281,5099.1,2,3,1,1,2,2,0
3,60,admin.,married,high.school,no,yes,yes,cellular,apr,thu,...,-47.1,1.365,5099.1,1,3,2,1,1,1,2
4,33,blue-collar,married,high.school,no,no,no,cellular,apr,mon,...,-47.1,1.405,5099.1,1,1,2,1,2,2,0
5,41,self-employed,married,university.degree,no,yes,no,telephone,may,mon,...,-36.4,4.857,5191.0,1,5,3,1,1,2,2
6,45,services,married,professional.course,no,yes,no,telephone,may,mon,...,-36.4,4.857,5191.0,1,2,4,1,1,2,2
7,29,services,divorced,high.school,no,no,yes,telephone,may,mon,...,-36.4,4.857,5191.0,3,2,2,1,2,1,2
8,39,unemployed,married,university.degree,no,no,no,telephone,jun,tue,...,-41.8,4.961,5228.1,1,11,3,1,2,2,2
9,35,admin.,married,high.school,unknown,yes,yes,telephone,may,tue,...,-36.4,4.857,5191.0,1,3,2,0,1,1,2
10,33,technician,single,university.degree,no,yes,no,cellular,apr,thu,...,-47.1,1.435,5099.1,2,6,3,1,1,2,2
11,27,unemployed,single,university.degree,no,no,no,telephone,jul,tue,...,-42.7,4.961,5228.1,2,11,3,1,2,2,2
12,32,blue-collar,married,basic.9y,unknown,no,no,cellular,jul,thu,...,-42.7,4.963,5228.1,1,1,1,0,2,2,2
13,45,blue-collar,married,basic.9y,unknown,no,no,telephone,jun,thu,...,-41.8,4.961,5228.1,1,1,1,0,2,2,2
14,36,blue-collar,married,basic.9y,unknown,yes,no,telephone,may,thu,...,-36.4,4.860,5191.0,1,1,1,0,1,2,2
15,41,services,single,unknown,no,yes,no,cellular,may,thu,...,-46.2,1.327,5099.1,2,2,0,1,1,2,2
16,40,blue-collar,married,unknown,no,no,no,telephone,may,tue,...,-36.4,4.857,5191.0,1,1,0,1,2,2,2
17,42,management,married,university.degree,no,no,no,cellular,nov,mon,...,-42.0,4.191,5195.8,1,7,3,1,2,2,2
18,31,admin.,single,university.degree,no,yes,no,cellular,aug,wed,...,-36.1,4.964,5228.1,2,3,3,1,1,2,2
19,32,blue-collar,divorced,basic.9y,no,no,no,telephone,may,mon,...,-36.4,4.858,5191.0,3,1,1,1,2,2,2
20,32,technician,married,professional.course,no,no,no,cellular,aug,wed,...,-36.1,4.964,5228.1,1,6,4,1,2,2,2
21,27,blue-collar,married,high.school,no,no,no,cellular,may,thu,...,-46.2,1.266,5099.1,1,1,2,1,2,2,0
22,35,blue-collar,married,basic.4y,no,no,no,telephone,jun,thu,...,-41.8,4.866,5228.1,1,1,6,1,2,2,2
23,41,admin.,married,university.degree,no,yes,yes,telephone,may,mon,...,-36.4,4.857,5191.0,1,3,3,1,1,1,2
24,45,admin.,married,university.degree,no,no,yes,cellular,jul,thu,...,-42.7,4.968,5228.1,1,3,3,1,2,1,2
25,45,admin.,married,university.degree,no,no,no,cellular,jul,tue,...,-42.7,4.961,5228.1,1,3,3,1,2,2,2
26,44,admin.,married,high.school,unknown,no,no,cellular,aug,fri,...,-36.1,4.966,5228.1,1,3,2,0,2,2,2
27,51,technician,married,professional.course,no,no,no,cellular,aug,wed,...,-36.1,4.967,5228.1,1,6,4,1,2,2,2
28,50,unemployed,married,professional.course,no,no,no,cellular,jul,thu,...,-42.7,4.968,5228.1,1,11,4,1,2,2,2
29,41,blue-collar,married,basic.4y,no,no,no,cellular,nov,thu,...,-42.0,4.076,5195.8,1,1,6,1,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,25,admin.,single,university.degree,no,yes,yes,cellular,oct,fri,...,-26.9,0.739,5017.5,2,3,3,1,1,1,0
1091,43,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,...,-36.4,4.857,5191.0,1,1,6,0,1,1,2
1092,38,management,married,high.school,unknown,no,no,telephone,may,thu,...,-36.4,4.860,5191.0,1,7,2,0,2,2,2
1093,30,blue-collar,single,high.school,no,no,no,telephone,jul,wed,...,-42.7,4.956,5228.1,2,1,2,1,2,2,2
1094,56,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,...,-42.7,4.961,5228.1,1,9,6,0,2,2,2
1095,62,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,...,-30.1,0.719,5017.5,1,1,6,1,1,2,1
1096,36,admin.,single,university.degree,no,no,yes,cellular,aug,fri,...,-36.1,4.963,5228.1,2,3,3,1,2,1,2
1097,33,services,married,high.school,no,no,no,telephone,may,mon,...,-36.4,4.857,5191.0,1,2,2,1,2,2,2
1098,41,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,...,-36.1,4.963,5228.1,3,1,1,1,2,2,2
1099,34,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,...,-36.1,4.963,5228.1,2,10,3,1,1,2,2
1100,58,admin.,divorced,high.school,no,no,no,cellular,aug,tue,...,-36.1,4.963,5228.1,3,3,2,1,2,2,2
1101,41,admin.,divorced,high.school,no,no,no,cellular,apr,fri,...,-47.1,1.405,5099.1,3,3,2,1,2,2,2
1102,35,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,...,-42.7,4.960,5228.1,2,4,3,1,1,2,2
1103,31,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,...,-41.8,4.959,5228.1,2,1,1,0,2,1,2
1104,43,services,married,high.school,no,no,no,telephone,may,mon,...,-36.4,4.857,5191.0,1,2,2,1,2,2,2
1105,42,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,...,-36.1,4.970,5228.1,3,6,4,1,1,2,2
1106,47,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,...,-42.7,4.961,5228.1,1,10,6,0,1,2,2
1107,45,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,...,-46.2,1.344,5099.1,3,4,1,1,1,2,2
1108,36,admin.,married,university.degree,unknown,yes,no,cellular,aug,wed,...,-36.1,4.964,5228.1,1,3,3,0,1,2,2
1109,32,admin.,married,university.degree,no,yes,no,telephone,may,thu,...,-46.2,1.266,5099.1,1,3,3,1,1,2,2
1110,63,retired,married,high.school,no,no,no,cellular,oct,wed,...,-26.9,0.740,5017.5,1,9,2,1,2,2,2
1111,53,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,...,-36.4,4.855,5191.0,3,10,5,0,0,0,2
1112,30,technician,married,university.degree,no,no,yes,cellular,jun,fri,...,-39.8,0.748,4991.6,1,6,3,1,2,1,0
1113,31,technician,single,professional.course,no,yes,no,cellular,nov,thu,...,-42.0,4.076,5195.8,2,6,4,1,1,2,2
1114,31,admin.,single,university.degree,no,yes,no,cellular,nov,thu,...,-42.0,4.076,5195.8,2,3,3,1,1,2,2
1115,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,-42.7,4.958,5228.1,1,3,5,1,1,1,2
1116,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,-42.7,4.959,5228.1,1,3,2,1,1,2,2
1117,27,student,single,high.school,no,no,no,cellular,may,mon,...,-46.2,1.354,5099.1,2,8,2,1,2,2,0
1118,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,-36.1,4.966,5228.1,1,3,2,1,2,2,2
1119,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,-42.0,4.120,5195.8,2,7,2,1,1,2,2

In [41]:
# data_train
df_test.drop([1, 2, 3, 4, 5, 6, 14, 7, 8, 9], axis=1, inplace=True)

In [42]:
# df_test

##### last contact duration /s

In [43]:
# df_test[10]

In [44]:
test_data = df_test.values

In [45]:
test_data

array([[  49.,  144.,    5., ...,    2.,    2.,    2.],
       [  31.,  182.,    8., ...,    2.,    2.,    2.],
       [  31.,   80.,    1., ...,    2.,    2.,    0.],
       ...,
       [  27.,   64.,    2., ...,    2.,    2.,    0.],
       [  58.,  528.,    1., ...,    2.,    2.,    2.],
       [  34.,  175.,    1., ...,    1.,    2.,    2.]])

In [46]:
y_pred = model.predict(test_data[:,0:])

In [47]:
y_pred

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [48]:
#for i in output: 
#    print(i)

##### output

In [80]:
Id = range(1, 1121)
result = np.c_[Id, y_pred.astype(int)]

In [81]:
df_result = pd.DataFrame(result[:,0:2], columns=['Id', 'prediction'])

In [82]:
df_result

        Id  prediction
0        1           0
1        2           0
2        3           0
3        4           0
4        5           0
5        6           0
6        7           0
7        8           0
8        9           0
9       10           0
10      11           0
11      12           0
12      13           0
13      14           0
14      15           0
15      16           0
16      17           0
17      18           0
18      19           0
19      20           0
20      21           0
21      22           0
22      23           1
23      24           0
24      25           0
25      26           0
26      27           0
27      28           0
28      29           0
29      30           0
...    ...         ...
1090  1091           0
1091  1092           0
1092  1093           0
1093  1094           0
1094  1095           0
1095  1096           1
1096  1097           0
1097  1098           0
1098  1099           0
1099  1100           0
1100  1101           0
1101  1102           0
1102  1103           0
1103  1104           0
1104  1105           0
1105  1106           0
1106  1107           0
1107  1108           0
1108  1109           0
1109  1110           0
1110  1111           0
1111  1112           0
1112  1113           0
1113  1114           0
1114  1115           0
1115  1116           0
1116  1117           0
1117  1118           0
1118  1119           0
1119  1120           0

[1120 rows x 2 columns]

In [83]:
df_result.to_csv('Submission.csv', index=False)

In [84]:
df_result.shape

(1120, 2)

##### cross-validation

In [55]:
from sklearn.cross_validation import *

In [69]:
X = train_data[0:, 1:]
y = train_data[0:, 0 ]

In [70]:
rf = RandomForestClassifier(n_estimators = 100, oob_score=True, random_state=10)
rf = rf.fit(train_data[0:, 1:], train_data[0:, 0])

In [71]:
scores_rf = cross_val_score(model, X, y, cv=10, scoring='accuracy')

print("Random Forest cross-validation:")
print(scores_rf)
print("the average accuracy:", scores_rf.mean())

Random Forest cross-validation:
[ 0.92026578  0.91666667  0.88333333  0.91666667  0.91333333  0.92        0.91
  0.89333333  0.88628763  0.90301003]
the average accuracy: 0.906289677293